<%- include('../partials/Header') %>
<main class="mainBody">
    <div class="topPageBox">
        <div class="header1Box">
            <img src="/images/birdlogo.jpg"/>
            <h1 class="dashHeader1">Tweeta</h1>
        </div>
    </div>
    
    
    
</main>

<%- include('../partials/Footer') %>