<%- include('../partials/Header') %>
<main class="mainBody">
    <div class="topPageBox">
        <div class="header1Box">
            <div class="birdLogoBox">
                <img src="/images/birdlogo.jpg"/>
                <img class="topImage" src="/images/birdlogo2.jpg"/>
            </div>
            <h1 class="dashHeader1">Tweeta</h1>
        </div>
    </div>
    
    
    
</main>

<%- include('../partials/Footer') %>